body{
    background-color: aliceblue;
}
header{
    background-image: url('../assets/Hero-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 152px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1140px;
    height: 151px;
    margin: 0px 150px;
}

header nav h2{
    color: #4E47FF;
    font-size: 34px;
    font-weight: bold;
}

.primary-btn{
    border: none;
    border-radius: 10px;
    background-color: #4E47FF;
    color: white;
    font-size: 16px;
    font-weight: bold;
    height: 48px;
    width: 132px;
}

.header-text{
    margin: 0 267.5px;
    width: 905px;
    height: 237px;
    text-align: center;
    align-items: center;
}

.header-text p{
    font-size: 65px;
    font-weight: bold;
}

.header-text .primary-btn{
    margin: -100px 200px;
}

.web-img{
    margin: 116px 141px;
    display: flex;
    justify-content: space-between;
}

.web-img-text{
    width: 517px;
    height: 203px;
}

.web-img-text h2{
    font-size: 42px;
    font-weight: bold;
}

.web-img-text p{
    font-size: 24px;
    color: rgba(37, 36, 50, 0.5);
}

.web-img-text .primary-btn{
    width: 229px;
}

.web-img-img img{
    width: 403px;
    height: 328px;
    border-radius: 48px;
}

.user-review{
    margin: 0 141px;
    background-color: rgba(78, 71, 255, 0.1);
    border-radius: 24px;
}

.user-review h3{
    padding-top: 50px;
    font-size: 38px;
    font-weight: bold;
    text-align: center;
}

.user-review-num{
    display: flex;
    justify-content: space-between;
    margin: 0 142px;
}

.users-num .main-text{
    font-size: 60px;
    font-weight: bold;
    color: #4E47FF;
    margin-bottom: 0px;
}

.users-num p{
    font-size: 20px;
    color: rgba(37, 36, 50, 0.5);
}

.focus-div{
    margin: 100px 150px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
}

.focus-div .bolded-text{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 0px;
}

.focus-div .norm-text{
    text-align: center;
    font-size: 22px;
    color: rgba(37, 36, 50, 0.5);
}

.focus-div .primary-btn{
    margin: 0 472.5px 58px;
    width: 195px;
}

.focus-div img{
    width: 840px;
    height: 364.77px;
    border-radius: 48px;
    margin-bottom: 71px;
}